@{
    ViewBag.Title = "Index";
    string userName = "";

    if (Session["userName"] == null)
    {
        Html.RenderAction("setname", "Home");

    }
    userName = Session["userName"].ToString();


}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> فروشگاه آنلاین کتاب </title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href="~/Assets/css/index.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



</head>
<body onload="updatebadge()">
    <!--Html.AntiForgeryToken()-->


    <!-- header section starts  -->

    <header class="header">

        <div class="header-1">

            <a href="#" class="logo"> <i class="fas fa-book"></i> کتابخانه </a>

            <form action="" class="search-form">
                <input type="search" name="" placeholder="جستجو کنید" id="search-box">
                <label for="search-box" class="fas fa-search"></label>
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href="/Home/Favourite" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fas fa-heart"></span>
                    <span id="fav_badge" class="badge badge-bg-1"></span>
                </a>


                <a href="/Home/Shipping" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fas fa-shopping-cart"></span>
                    <span id="shop_badge" class="badge badge-bg-1"></span>
                </a>
                <div class="dropdown">

                    <div onclick="myFunction()" class="dropbtn fas fa-user"></div>

                    <div id="myDropdown" class="dropdown-content">
                        <ul>
                            <li><a id="login-btn" href="#home">ورود یا ثبت نام</a></li>
                            <li><a href="~/Home/Login">ورود</a></li>
                            <li><a href="~/Home/Profile">پروفایل</a></li>
                            <li><a href="~/Home/logout">خروج از حساب</a></li>
                        </ul>


                    </div>
                    <a href="#">"@userName"</a>

                </div>

            </div>
        </div>
        <div class="header-2">
            <nav class="navbar">
                <a href="#home">خانه</a>
                <a href="#featured">ویژه</a>
                <a href="#arrivals">جدیدها</a>
                <a href="#reviews">نظرات</a>
            </nav>
        </div>

    </header>

    <!-- header section ends -->
    <!-- bottom navbar  -->

    <nav class="bottom-navbar">
        <a href="#home" class="fas fa-home"></a>
        <a href="#featured" class="fas fa-list"></a>
        <a href="#arrivals" class="fas fa-tags"></a>
        <a href="#reviews" class="fas fa-comments"></a>
        <a href="#blogs" class="fas fa-blog"></a>
    </nav>

    <!-- login form  -->

    <div id="deactive" class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form action="">
            <h3>ورود</h3>
            <span>نام کاربری</span>
            <input type="number" name="" class="box" placeholder="شماره خود را وارد کنید" id="phone">
            <span>رمز عبور</span>
            <input type="password" name="" class="box" placeholder="رمز عبور خود را وارد کنید" id="psw">
            <div class="checkbox">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me"> به خاطر سپردن</label>
            </div>
            <button onclick="getlogin()" class="btn">ساخت یا ورود به حساب</button>
            <p>رمز خود را فراموش کرده اید ؟ <a href="#">اینجا کلیک کنید</a></p>

        </form>

    </div>

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="row">

            <div class="content">
                <h3>تا 75٪ تخفیف</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <a href="#" class="btn">اکنون خرید کنید</a>
            </div>

            <div class="swiper books-slider">
                <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                        <img src="~/Assets/image/book1.png" />
                    </a>
                    <a href="#" class="swiper-slide">
                        <img src="~/Assets/image/book2.png" />
                    </a>
                    <a href="#" class="swiper-slide">
                        <img src="~/Assets/image/book3.png" />>
                    </a>
                    <a href="#" class="swiper-slide">
                        <img src="~/Assets/image/book4.png" />
                    </a>
                    <a href="#" class="swiper-slide">
                        <img src="~/Assets/image/book5.png" />
                    </a>
                    <a href="#" class="swiper-slide">
                        <img src="~/Assets/image/book6.png" />
                    </a>
                </div>
                <img src="~/Assets/image/stand.png" class="stand" alt="" />
            </div>

        </div>

    </section>

    <!-- home section ense  -->
    <!-- icons section starts  -->

    <section class="icons-container">

        <div class="icons">
            <i class="fas fa-shipping-fast"></i>
            <div class="content">
                <h3>ارسال رایگان</h3>
                <p>سفارش بالای 100 هزار تومان</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>پرداخت امن</h3>
                <p>100 پرداخت مطمئن</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-redo-alt"></i>
            <div class="content">
                <h3>بازگشت آسان</h3>
                <p>10 روز مهلت بازگشت</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>پشتیبانی 7/24</h3>
                <p>در هر زمان با ما تماس بگیرید</p>
            </div>
        </div>

    </section>

    <!-- icons section ends -->
    <!-- featured section starts  -->

    <section class="featured" id="featured">

        <h1 class="heading"> <span>کتابهای برجسته</span> </h1>

        <div class="swiper featured-slider">
            <div id="products" class="swiper-wrapper">




            </div>
        </div>

    </section>

    <!-- featured section ends -->
    <!-- newsletter section starts -->

    <section class="newsletter">

        <form action="">
            <h3>برای آخرین به روز رسانی مشترک شوید</h3>
            <input type="email" name="" placeholder="ایمیل خود را وارد کنید" id="" class="box">
            <input type="submit" value="عضویت" class="btn">
        </form>

    </section>

    <!-- newsletter section ends -->
    <!-- arrivals section starts  -->

    <section class="arrivals" id="arrivals">

        <h1 class="heading"> <span>کتابهای جدید</span> </h1>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">

                <a href="#" class="swiper-slide box">
                    <div class="image">

                        <img src="~/Assets/image/book-1.png" />
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-2.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-3.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-4.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-5.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

            </div>

        </div>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-6.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-7.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-8.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-9.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="~/Assets/image/book-10.png" alt="">
                    </div>
                    <div class="content">
                        <h3>تازه رسیده ها</h3>
                        <div class="price">5 هزارتومان <span>10 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

            </div>

        </div>

    </section>

    <!-- arrivals section ends -->
    <!-- deal section starts  -->

    <section class="deal">

        <div class="content">
            <h3>معامله روز</h3>
            <h1>تا 50٪ تخفیف</h1>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            <a href="#" class="btn">اکنون خرید کنید</a>
        </div>

        <div class="image">
            <img src="~/Assets/image/deal-img.jpg" alt="">
        </div>

    </section>

    <!-- deal section ends -->
    <!-- reviews section starts  -->

    <section class="reviews" id="reviews">

        <h1 class="heading"> <span>نظرات مشتریان</span> </h1>

        <div class="swiper reviews-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="~/Assets/image/pic-1.png" alt="">
                    <h3>نام مشتری</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="~/Assets/image/pic-2.png" alt="">
                    <h3>نام مشتری</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="~/Assets/image/pic-3.png" alt="">
                    <h3>نام مشتری</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="~/Assets/image/pic-4.png" alt="">
                    <h3>نام مشتری</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="~/Assets/image/pic-5.png" alt="">
                    <h3>نام مشتری</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="~/Assets/image/pic-6.png" alt="">
                    <h3>نام مشتری</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- reviews section ends -->
    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>دیگر شعبه ها</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> تهران </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> مشهد </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> اصفهان </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> شیراز </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> تبریز </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> یزد </a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> خانه </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> ویژه </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> برجسته </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> نظرات </a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> حساب کاربری </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> اقلام سفارش داده شده </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> قوانین </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> روش پرداخت </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> دیگر سرویس ها </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> admin@netcopy.ir </a>
                <img src="~/Assets/image/worldmap.png" class="map" alt="">
            </div>

        </div>

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>


    </section>

    <!-- footer section ends -->
    <!-- loader  -->

    <div class="loader-container">
        <img src="~/Assets/image/loader-img.gif" alt="">
    </div>
















    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="~/Assets/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/Assets/js/js1.js"></script>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>